SPRING_DATASOURCE_URL=jdbc:postgresql://localhost:5432/job_hunt_workspace
SPRING_JPA_SHOW_SQL=true

SPRING_FRONTEND_URL=http://localhost:5173
COOKIE_SECURE=false
COOKIE_SAME_SITE=Lax

JWT_SECRET=your-very-long-secret-key-change-this
JWT_ACCESS_TOKEN_EXPIRATION=900000
JWT_REFRESH_TOKEN_EXPIRATION=604800000
